<!DOCTYPE html>
<html>
    <head>
      <title>Tourist Traps</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    
    <body>
    <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="#" class="brand-logo center">Tourist Trap Detector</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/index">Home Page</a></li>
        <li class="active"><a href="/places">Tourist Traps</a></li>
        <li><a href="/submittrap">Submit a Trap</a></li>
      </ul>
    </div>
    </nav>
   <div class="parallax-container">
        <div class="parallax"><img src="https://media.timeout.com/images/102596453/image.jpg"></div>
    </div>
    <br><br>
<h5><center>Popular Tourist Traps in New York City</center></h5>
<br><br>
       <div class="row">
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/New_york_times_square-terabass.jpg"/>
          <span class="card-title">Times Square</span>
        </div>
        <div class="card-content">
          <p>Bustling destination in the heart of the Theater District known for bright lights, shopping & shows.</p>
          
        </div>
        <div class="card-action">
          <a href="/TSReviews">Reviews, Review count {{businessTS.businesses[0].review_count}}</a> 
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://cdn.pixabay.com/photo/2015/11/07/11/38/empire-state-building-1031341_960_720.jpg"/>
          <span class="card-title">Empire State Building</span>
        </div>
        <div class="card-content">
          <p>Iconic, art deco office tower from 1931 with exhibits & observatories on the 86th & 102nd floors.</p>
        </div>
        <div class="card-action">
          <a href="/ESReviews">Reviews, Review count {{businessES.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
     <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/Colour-changing_%27Little_Italy%27_sign_on_Mulberry_St_%28Blue%29.jpg"/>
          <span class="card-title">Little Italy</span>
        </div>
        <div class="card-content">
          <p>Has high concentration of souvenir shops and traditional Italian eateries and bakeries</p>
        </div>
        <div class="card-action">
          <a href="/LIReviews">Reviews, Review count {{businessLI.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
  </div>
  
  
  
         <div class="row">
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Statue_of_Liberty_-_4621961395.jpg"/>
          <span class="card-title">Statue of Liberty</span>
        </div>
        <div class="card-content">
          <p>Iconic National Monument opened in 1886, offering guided tours, a museum & city views.</p>
        </div>
        <div class="card-action">
          <a href="/SLReviews">Reviews, Review count {{businessSL.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Ice_Skate_Rink%2C_Rockefeller_Center.JPG"/>
          <span class="card-title">Rockefeller Center</span>
        </div>
        <div class="card-content">
          <p>Famous complex that's home to TV studios, plus a seasonal ice rink & giant Christmas tree.</p>
        </div>
        <div class="card-action">
          <a href="/RCReviews">Reviews, Review count {{businessRC.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
     <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Southwest_corner_of_Central_Park%2C_looking_east%2C_NYC.jpg"/>
          <span class="card-title">Central Park</span>
        </div>
        <div class="card-content">
          <p>Sprawling park with pedestrian paths & ballfields, plus a zoo, carousel, boat rentals & a reservoir.</p>
        </div>
        <div class="card-action">
          <a href="/CPReviews">Reviews, Review count {{businessCP.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
  </div>
  
    
  
    
         <div class="row">
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://live.staticflickr.com/6040/6275549426_262e22781f_b.jpg"/>
          <span class="card-title">Magnolia Bakery</span>
        </div>
        <div class="card-content">
          <p>Destination for classic baked desserts specializes in a variety of creative cupcakes.</p>
        </div>
        <div class="card-action">
          <a href="/MBReviews">Reviews, Review count {{businessMB.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
    <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://live.staticflickr.com/7102/7291248116_f7eb2bc1e9_b.jpg"/>
          <span class="card-title">Coney Island</span>
        </div>
        <div class="card-content">
          <p>Legendary beach & boardwalk offering sand sport courts, playgrounds & a few rides.</p>
        </div>
        <div class="card-action">
          <a href="/CIReviews">Reviews, Review count {{businessCI.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
     <div class="col m4">
      <div class="card hoverable small">
        <div class="card-image">
          <img src="https://live.staticflickr.com/7707/17140980717_d808445a7b_b.jpg"/>
          <span class="card-title">One World Trade Center</span>
        </div>
        <div class="card-content">
          <p>The tallest building in the U.S., the tallest building in the Western Hemisphere, and the sixth-tallest in the world</p>
        </div>
        <div class="card-action">
          <a href="/WTCReviews">Reviews, Review count {{businessWTC.businesses[0].review_count}}</a>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  
  <center><ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul></center><br><br>
  
   <div class="parallax-container">
        <div class="parallax"><img src="https://static01.nyt.com/images/2019/05/29/realestate/00skyline-south4/88ce0191bfc249b6aae1b472158cccc4-superJumbo.jpg"></div>
    </div>
  
  
  
  <footer class="page-footer blue darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Tourist Trap Detector</h5>
                <p class="grey-text text-lighten-4"> <i class="material-icons">email</i> dontusethisemail445@gmail.com</p>
                <p class="grey-text text-lighten-4"> <i class="material-icons">local_phone</i> (000) 000-0000</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">About Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">This web application was created by <br>Luis Garcia and Shirley Chan as a project in the FinTech Focus Program.</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright Tourist Trap Detector, these images and descriptions where taken from Google search
            </div>
          </div>
        </footer>
        
        
              
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script>
         $(document).ready(function(){
    $('.parallax').parallax();
  });
    </script>
    </body>
</html>